<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 - This is awkward...</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/404.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="on-top">
      <h1>That shortened URL doesn't exist...</h1>
      <p>
        It doesn't exist for now, double check what you got the correct URL, remember that these shortened URLs are case sensitve. Sorry for the inconvenience.
      </p>
      <a href="/" class="back">Back to Shortio</a>
    </div>
  </body>
</html>