html, body {
  min-height: 100%;
}

body {
  background: url('http://cdn0.dailydot.com/cache/dc/16/dc16daf9e98f95e215cd97306d0ee2b7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.overlay, .on-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.on-top {
  z-index: 11;
  text-align: center;
}

.on-top h1 {
  margin-top: 20%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.on-top p {
  color: #FFFFFF;
  color: rgba(255,255,255,0.8);
}

a.back {
  margin-top: 1%;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  color: #FFFFFF;
  background: #03C9A9;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 2px rgba(0,0,0,0.1);
  text-decoration: none;
  display: inline-block;
}

a.back:hover {
  background: #049372;
  cursor: pointer;
}