body {
  background-color: #f6f6f6;
}

nav {
  height: 40px;
  background: #FFFFFF;
  overflow: hidden;
  padding-top: 7px;
  vertical-align: middle;
  border-bottom: 1px solid #DDDDDD;
}

nav h1 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0.04em;
}

nav .column.social {
  text-align: right;
}

nav a {
  font-size: 1.5em;
  line-height: 1em;
}
nav a i {
  color: #BBBBBB;
  text-decoration: none;
}

nav a:hover i {
  color: #DDDDDD;
}

header .desc {
  padding-top: 2em;
  text-align: center;
  font-size: 1.4em;
}

main form .icon-container {
  position: relative;
}

main form i.fa.fa-link {
  position: absolute;
  top: 10px; left: 15px;
  color: #AAAAAA;
}

main form input[type="text"] {
  width: 73%;
  float: left;
  padding-left: 40px;
  border: 1px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
  background-color: #FFFFFF;
}

main form input[type="text"]:focus {
  border: 1px solid #EAEAEA;
  box-shadow: 0 7px 15px #EAEAEA;
  background-color: #FFF;
}

main form input[type="submit"] {
  width: 25%;
  float: right;
  background-color: #03C9A9;
  clear: right;
  border: none;
  text-shadow: 0 2px rgba(0,0,0,0.1);
  padding: 0;
}

main form input[type="submit"]:hover {
  background-color: #049372;
  box-shadow: 0 7px 10px #DDDDDD;
}

main section#shortened {
  opacity: 0;
  color: #AAAAAA;
  transition: all 0.5s ease;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 7px 15px #EAEAEA;
}

main section#shortened em {
  font-weight: bold;
  color: #666666;
  font-style: normal;
}

main section#shortened a#link {
  background: rgba(253, 227, 167,0.3);
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 0.8em;
  color: #555555;
}